body {
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #3D3D3D;
}

h1 {
  background-color: #E1EDF2;
}

h2 {
  border-bottom: 2px solid  #000000;
}

figure {
  text-align: center;
}

figure {
  background-color: whitesmoke;
}

figcaption {
  color: lightgrey;
}
